<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.6.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>

  <body>
    <form
      hx-post="/add"
      hx-target="#tasks"
      hx-swap="beforeend"
      hx-on:after-request="this.reset()"
      class="flex w-full justify-center items-center py-2"
    >
      <input
        type="text"
        class="input input-bordered"
        placeholder="Task Name"
        name="task_name"
      />
    </form>
    <div
      class="flex justify-center flex-col items-center w-full gap-2 p-6 prose"
      id="tasks"
    >
      <h1 class="text-xl font-bold">Here's the list of tasks</h1>
      {{range .Tasks}} {{ block "task-list-item" .}}
      <div class="p-2 border-2 rounded-sm shadow-lg w-full">
        <h2>{{.Name}} - {{.IsCompleted}}</h2>
      </div>
      {{end}} {{end}}
    </div>
  </body>
</html>
